@media (min-width: 700px) {
  .layout--pass--content-medium > * {
    grid-column: 2 / 18;
  }
}

/* Color changes */
[dir] .text-content a {
  box-shadow: inset 0 -2px 0 0 #3a4149;
}
.text-content a {
  color: #3a4149;
}
[dir] .text-content a.button,
[dir] .text-content a.button:hover,
[dir] .text-content a.button:focus {
  box-shadow: none;
  text-decoration: none;
}
.node__title a:hover {
  color: #3a4149;
}
[dir] .header__left {
  background-color: #7ca642;
}
[dir] .nav-primary__button {
  background-color: #7ca642;
}
[dir] .mobile-nav-button__icon:before {
  background-color: #7ca642;
}  
[dir] .mobile-nav-button__icon {
  background-color: #7ca642;
}  
[dir] .mobile-nav-button__icon:after {
  background-color: #7ca642;
}
[dir] .button--primary {
  background-color: #3a4149;
  border-color: #3a4149;
}
[dir] .button--secondary:active,
[dir] .button--secondary:hover,
[dir] .button--secondary {
  background-color: #7ca642;
  border-color: #7ca642;
}
.node__title a:hover {
  color: #3a4149;
}
[dir] .header__left {
  background-color: #7ca642;
}
[dir] .nav-primary__button {
  background-color: #7ca642;
}
[dir] .mobile-nav-button__icon:before {
  background-color: #7ca642;
}  
[dir] .mobile-nav-button__icon {
  background-color: #7ca642;
}  
[dir] .mobile-nav-button__icon:after {
  background-color: #7ca642;
}
[dir] .button--primary {
  background-color: #3a4149;
  border-color: #3a4149;
}
[dir] .button--secondary:active,
[dir] .button--secondary:hover,
[dir] .button--secondary {
  background-color: #7ca642;
  border-color: #7ca642;
  color: #fff;
  font-family:"metropolis",sans-serif;
}
.breadcrumb__link {
  color: #7ca642;
}
[dir] .primary-nav__menu-link-inner:after {
  border-top: solid 5px #7ca642;
}
@media (min-width: 1200px) {
  [dir] body:not(.is-always-mobile-nav) .primary-nav__menu--level-2 {
    border-top: solid 9px #7ca642;
  }
}
@media (min-width: 1200px) {
  [dir] body:not(.is-always-mobile-nav) .primary-nav__menu--level-2:after {
    border-bottom: solid 10px #7ca642;
  }
}
@media (min-width: 700px) {
  [dir] .tabs__link.is-active:after {
    border-top: solid 6px #7ca642;
  }
  [dir] .primary-nav__button-toggle .icon--menu-toggle:before, [dir] .primary-nav__button-toggle .icon--menu-toggle:after {
    border-top: solid 3px #7ca642;
  }
}

[dir="ltr"] .primary-nav__menu--level-2 {
  border-left: solid 18px #7ca642;
}

/* Block quote */
.text-content blockquote:before {
  font-weight: bold;
  font-size: 158px;
  color: #7ca642;
}
[dir] .text-content blockquote {
  padding-left: 80px;
}

/* Add some space to fullawesome icons */
.svg-inline--fa {
  margin-right: 6px;
}

/* Decrease padding-top for main content - 90px is a bit much */
/*@media (min-width: 700px)*/
[dir] .main-content {
    padding-top: 0px;
}

/* Make inline links inline. */
ul.links.inline {
  display: inline-block;
  list-style-type: none;
  margin: 0 1em 0 0;
}

/* Colour the slick navigation buttons */
.slick-arrow::before {
    color: #7ca642;
}

/* Remove huge padding-top and bottom */
/* @media (min-width: 1200px) */
[dir] .featured-bottom__inner {
    padding-top: 0;
    padding-bottom: 0;
}

/* Remove some more XL padding */
/* @media (min-width: 1200px) */
[dir] .node__content {
    padding-bottom: 1px;
}

/* Smaller indent for 700px, 1000px, ... */
@media (min-width: 700px) {
  .sidebar-grid .layout--pass--content-medium > #block-oliverolocal-content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
}

/* Button spacing in views */
[dir=ltr] .views-element-container .button {
  margin: 0;
}

/* Table td spacing in views */
[dir=ltr] .views-table td {
  padding: 6px 18px 6px 0;
}

table#wf-crm-billing-items {
    width: 100%;
}

.crm-container input[type=text] {
  min-height: inherit;
}

#wf-crm-billing-items caption {
    display: none;
}

/* CiviCRM Contribution pages */
.crm-container input[type=text] {
    min-height: inherit;
}

/* Shoreditch versus olivero country select. */
.crm-container select.crm-form-select:hover {
  background-image: url(../../../files/civicrm/ext/org.civicrm.shoreditch/img/drop-down-arrow.svg);
}
.crm-container select.crm-form-select {
  background-image: url(../../../files/civicrm/ext/org.civicrm.shoreditch/img/drop-down-arrow.svg);
  height: 30px;
  line-height: 30px;
  padding: 0;
  padding-left: 1em;
}

/* Center partners block title and logos. */
#block-views-block-funders-and-partners-block-1 {
  text-align: center;
}
#block-views-block-funders-and-partners-block-1 h2 {
  display: inline-block;
}
#block-views-block-funders-and-partners-block-1 img {
  display: inline-block;
}

/* Style co-Sponsor logos */
.block-views-blocksponsor-logos-block-1 {
  padding-top: 50px;
  padding-bottom: 20px;
}
.block-views-blocksponsor-logos-block-1 ul {
  text-align: center;
  padding-left: 0px;
}
.block-views-blocksponsor-logos-block-1 li {
  display: inline-block;
}
.block-views-blocksponsor-logos-block-1 img {
  float: left;
  padding-left: 0px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

