/* Colour Definitions
primary-color: #82c45a (civicrm green - menu)
secondary-color: #25aae1 (drupal blue - links)
button-color: #d50058 (pink - secondary buttons)
*/

/* Layout Changes */

@media (min-width: 700px) {
  .sidebar-grid .site-main {
    grid-column: 2 / 11;
  }
  .layout--pass--content-medium > * {
    grid-column: 2 / 18;
  }
}

/* Smaller indent for 700px, 1000px, ... */
@media (min-width: 700px) {
    .sidebar-grid .layout--pass--content-medium > #block-oliverolocal-content {
       -ms-grid-column: 2;
       -ms-grid-column-span: 10;
       grid-column: 1 / 11;
    }
}

/* Color changes */
[dir] .text-content a {
  box-shadow: inset 0 -2px 0 0 #25aae1;
}
.text-content a {
  color: #25aae1;
}
[dir] .text-content a.button,
[dir] .text-content a.button:hover,
[dir] .text-content a.button:focus {
  box-shadow: none;
  text-decoration: none;
}
.node__title a:hover {
  color: #25aae1;
}
[dir] .site-header__initial,
[dir] .sticky-header-toggle {
  background-color: #82c45a;
}
[dir] .header__left {
  background-color: #82c45a;
}
[dir] .nav-primary__button {
  background-color: #82c45a;
}
[dir] .mobile-nav-button__icon:before {
  background-color: #82c45a;
}  
[dir] .mobile-nav-button__icon {
  background-color: #82c45a;
}  
[dir] .mobile-nav-button__icon:after {
  background-color: #82c45a;
}
/* Colour and align buttons */
[dir] .button--primary {
  background-color: #25aae1;
  border-color: #25aae1;
}
[dir] .button--secondary:active,
[dir] .button--secondary:hover,
[dir] .button--secondary {
  background-color: #d50058;
  border-color: #d50058;
  justify-content: center;
  min-width: 270px;
  color: #fff;
  font-family:"metropolis",sans-serif;
}

.node__title a:hover {
  color: #25aae1;
}
[dir] .header__left {
  background-color: #25aae1;
}
[dir] .nav-primary__button {
  background-color: #25aae1;
}
[dir] .mobile-nav-button__icon:before {
  background-color: #25aae1;
}  
[dir] .mobile-nav-button__icon {
  background-color: #25aae1;
}  
[dir] .mobile-nav-button__icon:after {
  background-color: #25aae1;
}
[dir] .button--primary {
  background-color: #25aae1;
  border-color: #25aae1;
}
.breadcrumb__link {
  color: #25aae1;
}
[dir] .primary-nav__menu-link-inner:after {
  border-top: solid 5px #25aae1;
}
@media (min-width: 1200px) {
  [dir] body:not(.is-always-mobile-nav) .primary-nav__menu--level-2 {
    border-top: solid 9px #25aae1;
  }
}
@media (min-width: 1200px) {
  [dir] body:not(.is-always-mobile-nav) .primary-nav__menu--level-2:after {
    border-bottom: solid 10px #25aae1;
  }
}
@media (min-width: 700px) {
  [dir] .tabs__link.is-active:after {
    border-top: solid 6px #25aae1;
  }
  [dir] .primary-nav__button-toggle .icon--menu-toggle:before, [dir] .primary-nav__button-toggle .icon--menu-toggle:after {
    border-top: solid 3px #25aae1;
  }
}

[dir="ltr"] .primary-nav__menu--level-2 {
  border-left: solid 18px #25aae1;
}

/* Block quote */
.text-content blockquote:before {
  font-weight: bold;
  font-size: 158px;
  color: #25aae1;
}
[dir] .text-content blockquote {
  padding-left: 80px;
}

/* Add some space to fullawesome icons */
.svg-inline--fa {
  margin-right: 6px;
}

/* Decrease padding-top for main content - 90px is a bit much */
/*@media (min-width: 700px)*/
[dir] .main-content {
    padding-top: 0px;
}

/* Make inline links inline. */
ul.links.inline {
  display: inline-block;
  list-style-type: none;
  margin: 0 1em 0 0;
}

/* Colour the slick navigation buttons */
.slick-arrow::before {
    color: #25aae1;
}

/* Remove huge padding-top and bottom */
/* @media (min-width: 1200px) */
[dir] .featured-bottom__inner {
    padding-top: 0;
    padding-bottom: 0;
}

/* Remove some more XL padding */
/* @media (min-width: 1200px) */
[dir] .node__content {
    padding-bottom: 1px;
}

/* Webform css*/
table#wf-crm-billing-items {
    width: 100%;
}
.webform-likert-table-wrapper th {
    text-align: left;
    padding-left: 0.5em;
}
.crm-container input[type=text] {
  min-height: inherit;
}
#wf-crm-billing-items caption {
    display: none;
}

/* CiviCRM Contribution pages */
.crm-container input[type=text] {
    min-height: inherit;
}
/* Shoreditch versus olivero country select. */
.crm-container select.crm-form-select:hover {
  background-image: url(../../../files/civicrm/ext/org.civicrm.shoreditch/img/drop-down-arrow.svg);
}
.crm-container select.crm-form-select {
  background-image: url(../../../files/civicrm/ext/org.civicrm.shoreditch/img/drop-down-arrow.svg);
  height: 30px;
  line-height: 30px;
  padding: 0;
  padding-left: 1em;
}

/* Views css*/
/* Button spacing in views */
[dir=ltr] .views-element-container .button {
  margin: 0;
}

/* Table td spacing in views */
[dir=ltr] .views-table td {
  padding: 6px 18px 6px 0;
}

/* Center partners block title and logos. */
#block-views-block-funders-and-partners-block-1 {
  text-align: center;
}
#block-views-block-funders-and-partners-block-1 h2 {
  display: inline-block;
}
#block-views-block-funders-and-partners-block-1 img {
  display: inline-block;
}

/* Style co-Sponsor logos */
.block-views-blocksponsor-logos-block-1 {
  padding-top: 50px;
  padding-bottom: 20px;
}
.block-views-blocksponsor-logos-block-1 ul {
  text-align: center;
  padding-left: 0px;
}
.block-views-blocksponsor-logos-block-1 li {
  display: inline-block;
}
.block-views-blocksponsor-logos-block-1 img {
  float: left;
  padding-left: 0px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Footer social media links. */
#block-d8connect a {
  font-size: 280%;
  margin-right: .5em;
  box-shadow: none;
}

.ui-accordion .ui-accordion-header {
    background-color: #25aae1;
}
.ui-state-default a, .ui-state-default a:link {
    color: #ffffff;
}

/* Borrow application-pdf.png image */
.file--application-pdf {
    background-image: url(/core/themes/seven/images/classy/icons/application-pdf.png);
}
.file {
    display: inline-block;
    min-height: 16px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
}

/* CSS for Calendar -> handled by Asset Injector module */

