@media (min-width: 700px) {

  .region--top.layout--content-medium, .layout--pass--content-medium > * {
    grid-column: 2 / 18;
  }

  #block-oliverito-views-block-slideshow-block-1 img {
    width: 100%;
  }
}

/* Logo resize. */
#page {
  padding-top: 36px;
}
.site-branding__logo img {
  height: auto;
  max-height: 60px;
}
@media (min-width: 1200px) {
  #page {
    padding-top: 0;
  }
  .site-branding__logo img {
    height: auto;
    max-height: 117px;
  }
}
@media (min-width: 1200px) {
  body.toolbar-horizontal.toolbar-fixed.toolbar-tray-open:not(.is-always-mobile-nav) .site-header__fixable.js-fixed {
    top: 50px;
  }
}

/* Color changes. */
[dir] .header__left {
  background-color: #d50058;
  background-color: green;
}
[dir] .nav-primary__button {
  background-color: #d50058;
  background-color: green;
}

/* Block quote */
.text-content blockquote:before {
  font-weight: bold;
	font-size: 158px;
	color: #d50058;
  color: green;
}
[dir] .text-content blockquote {
  padding-left: 80px;
}

/* Fullcalendar view experiment. */
.js-drupal-fullcalendar table {
  display: table;
}
